[Unit]
Description=odin server daemon
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=PATH/odin -f PATH/odin.yaml
WorkingDirectory=PATH
ExecStop=kill -9 $MAINPID

[Install]
Alias=odin
WantedBy=multi-user.target

